{% extends "layout.html" %}

{% block body %}
<h3 class="page-section-title">{{category.name}} ({{count}} Items)</h3>
<ul class="list">
    {% for i in items %}
    <li class="list-item">
        <a href="{{ url_for('itemDetail', category_name = category.name, item_name = i.name) }}">{{i.name}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

<html>
    <body>
        <h1>{{ category.name }}</h1>

        {% with messages = get_flashed_messages() %}
            
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for i in items %}

            {{i.name}}

            </br>

            {{i.description}}
            </br>
            
            </br>
            </br>

            {% endfor %}

        {% endwith %}
    </body>
</html>