{% extends "layout.html" %}

{% block body %}

<!-- github login -->
<div>
  <a href="https://github.com/login/oauth/authorize?client_id=136d23cf12215410c84b&scope=user:email" class="login-github">Login Github</a>
</div>
<p id="result" style="margin-top: 50px;"></p>

<script>
  function getQueryString(name) { 
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
        var r = window.location.search.substr(1).match(reg); 
        if (r != null) return unescape(r[2]); 
        return null; 
    } 

    var code = getQueryString('code'),
        resultP = $('#result');

    if(code){
      resultP.text('pending');
      $.ajax({
        type: 'POST',
        url: '/github-connect?state={{STATE}}',
        processData: false,
        data: code,
        dataType: 'json',
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          if(result && result.code === 1) {
            resultP.text('login success, redirecting to home page')
            window.setTimeout(function(){
              window.location.href = '/catelog'
            }, 1500)
          } else{
            alert((result && result.msg) || 'server error!')
            resultP.text('pending')
          }  
        },
        error: function(){
          alert('request error!')
          resultP.text('')
        }
      })
    }
</script>
<!-- end github login -->

{% endblock %}
