{% extends "layout.html" %}

{% block body %}
    <h3 class="page-section-title">Create Item</h3>

    {% if isLogin %}
    <form action="{{ url_for('newItem') }}" class="page-form" method="POST">
        <div class="form-item">
            <label for="name">Title</label>
            <input type="text" name="name" id="name" required="required" />
        </div>
        
        <div class="form-item">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" />
        </div>

        <div class="form-item">
            <label for="category">Category</label>
            <select name="category" id="category">
                {% for i in all_category %}
                    <option value="{{i.name}}">{{i.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-item">
            <button>submit</button>    
            <button><a href="{{ url_for('catelog') }}">Cancel</a></button> 
        </div>
    </form>
    {% else %}
    <p class="no-access">You are not allowed to access this page.</p>
    {% endif %}
{% endblock %}